<h2>Table of Contents</h2>

<ul>
	<% hierarchy.each do |hash| %>
  <li><a class="chpt-title" href='#<%= hash[:el].attributes[:href] %>'><%= hash[:el].children[0] %></a>
      <% if hash[:children].size > 0 %>
      <ul>
  			<% hash[:children].each do |child| %>
        <li><a class="chpt-section"href='#<%= child[:el].attributes[:href] %>'><%= child[:el].children[0] %></a></li>
  			<% end %>
      </ul>
      <% end %>
    </li>
	<% end %>
</ul>