@import "normalize.less";
@import "variables.less";
@import "typography.less";


/* ===== Primary Styles ========================================================
 Author: Miguel Bermudez
 ========================================================================== */


/* Root
----------------------------------------------------------------------------------------*/
html {
  overflow-y: scroll;
  background: #FFFFFF;
}

img, embed, object, video { max-width: 100%; }
.ie6 img.full, .ie6 object.full, .ie6 embed, .ie6 video { width: 100%; }

/* Core
----------------------------------------------------------------------------------------*/
body {
 background: #FFFFFF;
 color: @textColor;
 font-size: @baseFontSize;
 line-height: @baseLineHeight;
 margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.809em;
  line-height: 1em;
}

a {
  text-decoration: none;
}

p, li, dl {
  font-size: 1.6em;
  line-height: @baseLineHeight * 1.5;
}


ul {
  margin: 0;
  padding: 0;
}
 
li {
  margin-bottom: 1em;
}
 
 
 /* Book Styles
 ----------------------------------------------------------------------------------------*/
 
#container {
   clear: both;
   float: left;
   overflow: hidden;
   position: relative;
   width: 1024px;

} /*#container*/

aside {
  background: @offwhite;
  float: left;
  margin: 0;
  padding: 20px 0 0 10px;
  width: 28.3203125%; /* 290 / 1024 */
  
  li {
    line-height: 1em;
  }
  
  ul li ul li  {
    text-align: right;
  }
  
  a.chpt-title {
     #font > .chunk(normal, 1.5625em, 2.34375em);
     background: @blue;
     margin: 1.5em 0;
  }
  
  a.chpt-section {
    #font > .sans-serif(normal, 0.615384615em, 0.923076923em);
    background: @offwhite;
  }
  
  nav {
    
  } /*  /nav  */ 
} /*  /aside  */

#content {
  float: left;
  padding: 20px 20px 0 10px;
  width: 67.7734375%; /* 694 / 1024 */
  h2 {
    #font > .headline(800, 4.0em, 1.0em );
    
  }
  p, li {
    #font > .serif();
  }
  .breakout_box {
    #font > .headline(200, 1.8em, 1.5em);
    h2{ 
      #font > .headline(800, 2.0em, 1.0em);
      font-style: normal;
    }
    background: lighten(@offwhite, 50%);
    border: 1px solid @darkorange;
    padding: 20px;
    font-style: italic;
  }
} /*  #content  */













@import "media-queries.less";
@import "helpers.less";
@import "print.less";
